.main-nav {
  background-color: #242424;
}

.nav {
  max-width: 1440px;
  margin-inline: auto;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-weight: 400;
  font-size: 24px;
}

.logo-svg {
  width: 2rem;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.button-hover {
  padding: 0 0.67rem;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.button-hover:hover {
  background-color: whitesmoke;
  color: #000;
  transition: all 0.8s ease;
}
